@use "variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    135deg,
    $color-bg-gradient-start,
    $color-bg-gradient-end
  );
  color: $color-text-primary;
  display: flex;

  @include respond-up(md) {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
