@use "sass:map";
@use "../../styles/variables" as *;

.btn {
  width: 100%;
  height: 2.5rem;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: map.get($spacing, "8");
  font-size: map.get($font-sizes, "md");
  font-weight: map.get($font-weight, "600");
  cursor: pointer;
  transition: background-color $transition-fast;

  &:hover {
    background-color: $color-primary-hover;
  }
}
