<section class="start">
  <h1>Welcome to the game!</h1>
  <div class="start__player">
    <input-text
      id="playerName"
      placeholder="Enter your name"
      name="playerName"
      label="Player name:"
      [(ngModel)]="playerName"
    ></input-text>
  </div>
  <div class="start__difficulty">
    <app-select
      label="Difficulty level:"
      [options]="[
        { value: 'easy', label: 'Easy' },
        { value: 'medium', label: 'Medium' },
        { value: 'hard', label: 'Hard' },
      ]"
      [selectedValue]="'easy'"
      [(ngModel)]="selectedDifficulty"
    ></app-select>
  </div>
  <app-button
    label="Start game"
    variantClass="primary"
    (click)="startGame()"
  ></app-button>
</section>
